@tailwind base;
@tailwind components;

.input {
  @apply border border-gray-200 px-5 py-3 font-freesentation font-light focus:outline-none focus:border-gray-500 transition-colors;
}

.container {
  @apply max-w-screen-2xl mx-auto;
}

.link {
  @apply text-lime-600 hover:underline;
}

.btn {
  @apply text-white my-auto px-3 py-2 text-lg transition-all bg-lime-700 hover:opacity-90;
  height: fit-content;
}

@font-face {
  font-family: "freesentation";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Freesentation-3Light.ttf") format("truetype");
}
@font-face {
  font-family: "freesentation";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Freesentation-4Regular.ttf") format("truetype");
}
@font-face {
  font-family: "freesentation";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Freesentation-5Medium.ttf") format("truetype");
}
@font-face {
  font-family: "freesentation";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Freesentation-6SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "freesentation";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Freesentation-7Bold.ttf") format("truetype");
}
@font-face {
  font-family: "freesentation";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/Freesentation-8ExtraBold.ttf") format("truetype");
}

@tailwind utilities;
